/*
Specify the style of home page.
*/

/*
Custom fonts
*/
@font-face {
    font-family: "inter";
    src: url("fonts/inter/inter-regular.ttf");
}

/*
Styles
*/

body {
    background: url("/static/imgs/cinema_blur.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    font-family: "inter";
}

/*
Title
*/
header {
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*Questions*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.question-block {
    text-align: center;
    color: white;
    background-color: rgb(41, 39, 39);
    border-radius: 10px;
    width: 70%;
    margin-bottom: 40px;
}

div.question-block p {
    /* La question à poser */
    font-size: 1.5em;
}

div.question-block ul {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    height: 80%;
}

div.question-block li {
    margin-left: 0px;
}

div.question-block li:hover {
    background-color: rgb(90, 86, 86);
}

div.question-block label {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    font-size: 1em;
}

div.question-block label:hover {
    cursor: pointer;
}

div.question-block input[type=radio] {
    margin-right: 10px;
    margin-left: 10px;
}

#tick1,
#tick2,
#tick3,
#tick4 {
    width: 2%;
    height: 2%;
    margin-right: 15px;
    opacity: 0;
}

input.radio {
    display: None;
}

form button {
    background-color: rgb(41, 39, 39);
    color: white;
    text-align: center;
    width: 20%;
    font-size: 1.1em;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
}