<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body>
    <header>
        Your movie Recommender
    </header>
    <form method="post">
        <div class="question">
            <p>What type of movie do you want to watch ? </p>
            <ul style="list-style: None;">
                <li>
                    <label>
                        <input type="radio" id="1" name="answer" value="Action">
                        Action </label>
                </li>
                <li>
                    <label>
                        <input type="radio" id="2" name="answer" value="Horror">
                        Horror </label>
                </li>
                <li>
                    <label>
                        <input type="radio" id="3" name="answer" value="Comedy">
                        Comedy </label>
                </li>
                <li>
                    <label>
                        <input type="radio" id="4" name="answer" value="SCience-fiction">
                        Science-fiction </label>
                </li>
            </ul>
        </div>
        <button type="submit"> Submit </button>
    </form>
</body>

</html>