<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="/static/css/answer.css" rel="stylesheet" />
</head>

<body>
    <script src="static/js/functions.js"></script>
    <header>
        <h1>Your Movie Recommender</h1>
    </header>
    <div class="recommendation">
        <table>
            <tr>
                {% for header in headings %}
                <th class="table_header"> {{ header }}</th>
                {% endfor %}
            </tr>
            {%for row in data%}
            <tr>
                {%for cell in row %}
                <td class="recommendation_cell"> {{ cell }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
        
    <div id="main_answer_block">
        <p class="reco-block-title">According to your research:</p>
        <div class="carroussel-container">
            <div class="left-swift">
                <img src="static/imgs/left-arrow.png" class="carroussel-arrow"/>
            </div>
            <div class="left-display">
                <p class="title-carroussel">Title A1</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="center-display">
                <p class="title-carroussel">Title A2</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="right-display">
                <p class="title-carroussel">Title A3</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="right-swift">
                <img src="static/imgs/right-arrow.png" class="carroussel-arrow"/>
            </div>
        </div>
    </div>
    <div id="same_actor_block">
        <p class="reco-block-title">With the same actor:</p>
        <div class="carroussel-container">
            <div class="left-swift">
                <img src="static/imgs/left-arrow.png" class="carroussel-arrow"/>                
            </div>
            <div class="left-display">
                <p class="title-carroussel">Title B1</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="center-display">
                <p class="title-carroussel">Title B2</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="right-display">
                <p class="title-carroussel">Title B3</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="right-swift">
                <img src="static/imgs/right-arrow.png" class="carroussel-arrow"/>
            </div>
        </div>
    </div>
    <div id="same_genre_block">
        <p class="reco-block-title">On the same genre:</p> 
        <div class="carroussel-container">
            <div class="left-swift">
                <img src="static/imgs/left-arrow.png" class="carroussel-arrow"/>
            </div>
            <div class="left-display">
                <p class="title-carroussel">Title C1</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="center-display">
                <p class="title-carroussel">Title C2</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="right-display">
                <p class="title-carroussel">Title C3</p>
                <img src="" class="img-carroussel"/>
                <p class="abstract-carroussel">Abstract</p>
            </div>
            <div class="right-swift">
                <img src="static/imgs/right-arrow.png" class="carroussel-arrow"/>
            </div>
        </div>
    </div>
    <a id="return_home_button" href="{{ url_for('home') }}">
        Bring me home!
    </a>
</body>

</html>