<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="static/css/home.css" rel="stylesheet" />
</head>

<body>
    <script src="static/js/functions.js"></script>
    <header>
        <h1>Your Movie Recommender</h1>
    </header>
    <form method="post">
        <div class="question">
            <p>What type of movie do you want to watch ? </p>
            <ul style="list-style: None;">
                <li>
                    <label>
                        <input type="checkbox" id="1" name="answer" value="Action"
                            onclick="selectOnlyThis(this.id, 1, 4)">
                        Action </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" id="2" name="answer" value="Horror"
                            onclick="selectOnlyThis(this.id, 1 ,4)">
                        Horror </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" id="3" name="answer" value="Comedy"
                            onclick="selectOnlyThis(this.id, 1, 4)">
                        Comedy </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" id="4" name="answer" value="Science-fiction"
                            onclick="selectOnlyThis(this.id, 1 ,4)">
                        Science-fiction </label>
                </li>
            </ul>
        </div>
        <button type="submit"> Submit </button>
    </form>
</body>

</html>