<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="static/css/home.css" rel="stylesheet" />
</head>

<body>
    <script src="static/js/functions.js"></script>
    <header>
        <h1>Your Movie Recommender</h1>
    </header>
    <form method="post">
        <div class="question-block">
            <p>What type of movie do you want to watch ?</p>
            <ul style="list-style: None;">
                <li>
                    <label>
                        <img src="static/imgs/check.png" class="tick"/>
                        <input type="radio" class="radio" name="Q1" value="Action" onclick="showTick(this)">
                        Action
                    </label>
                </li>
                <li>
                    <label>
                        <img src="static/imgs/check.png" class="tick"/>
                        <input type="radio" class="radio" name="Q1" value="Horror" onclick="showTick(this)">
                        Horror
                    </label>
                </li>
                <li>
                    <label>
                        <img src="static/imgs/check.png" class="tick"/>
                        <input type="radio" class="radio" name="Q1" value="Comedy" onclick="showTick(this)">
                        Comedy
                    </label>
                </li>
                <li>
                    <label>
                        <img src="static/imgs/check.png" class="tick"/>
                        <input type="radio" class="radio" name="Q1" value="Science-fiction" onclick="showTick(this)">
                        Science-fiction
                    </label>
                </li>
            </ul>
        </div>
        <div class="question-block">
            <p>Which actor/actress is your favorite among the following?</p>
            <ul style="list-style: None;">
                <li>
                    <label>
                        <img src="static/imgs/check.png" class="tick"/>
                        <input type="radio" class="radio" name="Q2" value="Action" onclick="showTick(this)">
                        Harrison Ford
                    </label>
                </li>
                <li>
                    <label>
                        <img src="static/imgs/check.png" class="tick"/>
                        <input type="radio" class="radio" name="Q2" value="Horror" onclick="showTick(this)">
                        Jennifer Lawrence
                    </label>
                </li>
                <li>
                    <label>
                        <img src="static/imgs/check.png" class="tick"/>
                        <input type="radio" class="radio" name="Q2" value="Comedy" onclick="showTick(this)">
                        Robin Williams
                    </label>
                </li>
                <li>
                    <label>
                        <img src="static/imgs/check.png" class="tick"/>
                        <input type="radio" class="radio" name="Q2" value="Science-fiction" onclick="showTick(this)">
                        Emilia Clarke
                    </label>
                </li>
            </ul>
        </div>
        <button type="submit">Find me movies!</button>
    </form>
</body>

</html>